body {
  background-color: rgb(173, 245, 241);
}

.floating-icon {
  float: right;
  position: fixed;
  top: 1rem;
  right: 1rem;
}

.location {
  font-size: 0.9em;
}

footer {
  background-color: rgb(178, 233, 230);
}
