{{- $languageIcon := (resources.Get "img/Language-Icons/icon128px-exported-black.png") -}}
{{- if .IsTranslated -}}
{{- range .Translations -}}
<img src="{{ $languageIcon.RelPermalink }}" alt="Language icon" width="20rem" height="20rem">
<a class="header-link" rel="alternate" href="{{ .RelPermalink }}" hreflang="{{ .Lang }}" lang="{{ .Lang }}">
  {{- .Language.LanguageName -}}
</a>
{{ end -}}
{{- else -}}
{{- range .Site.Languages -}}
{{- if ne $.Site.Language.Lang .Lang -}}
<img src="{{ $languageIcon.RelPermalink }}" alt="Language icon">
<a class="header-link text-decoration-none" rel="alternate" href="{{ .Lang | relURL }}" hreflang="{{ .Lang }}" lang="{{ .Lang }}">
  {{- .LanguageName -}}
</a>
{{- end -}}
{{- end -}}
{{- end -}}
